<!DOCTYPE html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="topnav">
        <a class="active"  href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a [routerLink]="'sviewprofile'"><i class="fa fa-fw fa-user"></i>ViewProfile</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i>Contact</a>
        
        <div class="logout">
          <a href="#"><i class="fa fa-fw fa-sign-out"></i>LogOut</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
    <div class="sidenav">
        <a [routerLink]="'additems'"><i class="fa fa-fw fa-shopping-cart"></i>Add Items</a>
        <a [routerLink]="'viewitems'"><i class="fa fa-eye"></i>View Items</a>
        <a href="#"><i class="fa fa-eye"></i>View Reports</a><br>
        <a href="#"><i class="fa fa-fw fa-sign-out"></i>LogOut</a>
    </div>
        </div>
    

<div class="col">
<router-outlet></router-outlet>
</div>
    </div>