<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="bgimage">
      <div class="topnav">
        <a class="active"  href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>ViewProfile</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i>Contact</a>
        
        <div class="logout">
          <a href="#"><i class="fa fa-sign-out"></i>LogOut</a>
        </div>
      </div>
   <div class="row">
      <div class="col">
          <div class="sidenav">
               <a href="#">Add Category</a>
               <a href="#">Add SubCategory</a>
                <a href="#">Block/Unblock Buyer</a>
                <a href="#">Block/Unblock Seller</a>
                <a href="#">LogOut</a>    
           </div>
        </div>
    

           <div class="col-lg-8">
            <h3 id=h1>LOGIN FORM</h3>
               <div class="jumbotron">
                
                 <div class="container">
                    
                        <form [formGroup]="login" (ngSubmit)="onSubmit()">
                            
                            <div class="form-group">
                                <label>UserName</label>
                                 <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                                 <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                <div *ngIf="f.userName.errors.required">UserName is required</div>
                                </div>
                            </div>
                             
                    
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        Buyer  <input type="radio" formControlName="role"  value="buyer" name="role" />
                    </div> 
                    <div class="form-group">
                      Seller  <input type="radio" formControlName="role"  value="seller" name="role" />
                    </div>
                   
                    <div class="text-center">
                        <button class="btn btn-primary mr-1 " id=b1>Login</button>
                        <button class="btn btn-secondary" type="reset" (click)="onReset()" id=b2>Reset</button>
                    </div>
                    <br><br>
                    <div class="form-row">
                    <div class="col">
                        <a [routerLink]="['/registerbuyer']">Register Buyer</a></div>
                        <div class="col">
                        <a [routerLink]="['/registerseller']">Register Seller</a>
                    </div>
                </div>  
                </form>
            </div>
            </div>
        </div>
   </div> 
   </div>    
<router-outlet></router-outlet>

